body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(https://legendofvelda.files.wordpress.com/2013/05/cooking-background-without-cookbook.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 2rem;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 3.3rem;
  font-weight: 500;
  color: #ddd;
}

ul {
  width: 55%;
  margin: 6rem auto;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  color: #eee;
}

a:hover {
  color: #bbb;
}

i {
  padding-right: 1rem;
  color: #ccc;
}

/*********************** Media Queries *********************************/
@media (max-width: 600px) {
  ul {
    width: 70%;
  }
}
